<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Nunito|Ubuntu" rel="stylesheet">
  </head>

  <body>
  <%= render "layouts/banfoo/banner" %>
    <%= yield %>
  <%= render "layouts/banfoo/footer" %>
  </body>
</html>
